extends layout 

block main 
  div.main
    h3 #{`Think of a number from ${min} to ${max}.`} 
    h3 #{`I will guess it in ${guesses} tries or less!`}
  div.buttons
    div.mid
      a(href=`/guess`) 
        button.start Ready